@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Aeonik";
  src: url("../fonts/Aeonik/AeonikTRIAL-Regular.otf") format("opentype");
}

@font-face {
  font-family: "blogh";
  src: url("../fonts/Blogh/Blogh.otf") format("opentype");
}

@keyframes marquee {
  0% {
    transform: translateZ(0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}

*{box-sizing: border-box;}

.doughnut-container {
  background: #000;
  font-family: Arial;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  margin: 0;
}

.semi-doughnut-wrapper {
  width: 300px;
  height: 150px;
  border: 1px solid red;
  position: relative;
  color: #fff;
  font-size: 20px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  /* overflow: hidden; */
}


.semi-doughnut {
   content: "";
  /*position: absolute;
  left: 0;
  top: 0;
  width: 300px;
  height: 300px;
  border: 50px solid;
  border-color: #f00 #ff0 #fff #f0f;
  border-radius: 50%; */
}

.animate-marquee {
  animation: marquee 15s linear infinite;
  animation-direction: alternate;
}
